@CHARSET "EUC-KR";


#msgcontainer {
	background-color:gold;
	
}

#msgdisplay {
	height:500px;
	overflow-y: scroll;
	padding: 10px;
}

#msgdisplay span.nickname {
	font-weight: bold;
	font-size: 120%;
	display: inline-block;
	width: 100px;
}

li {
	margin: 15px;
	list-style: none;
}

.noti {
	text-align: center;
	color: blue;
}

.arrow_box {
	position: relative;
	background: #88b7d5;
}

.arrow_box:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #88b7d5;
	border-width: 7px;
	margin-top: -7px;
}

.arrow_box_oth {
	position: relative;
	background: #99d58a;
}

.arrow_box_oth:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(153, 213, 138, 0);
	border-right-color: #99d58a;
	border-width: 7px;
	margin-top: -7px;
}